<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta name="author" content="Montasser Akermi" />
<meta property="og:locale" content="en_US" />
<!-- <meta name="description" content="‘We do it because we are compelled.’" /> -->
<!-- <meta property="og:description" content="‘We do it because we are compelled.’" /> -->
<link rel="canonical" href="{{ .Page.Permalink }}" />
<meta property="og:url" content="{{ .Page.Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />