<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta name="author" content="Montasser Akermi" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="‘Nostalgia is the worst and the best feeling at the same time.’" />
<meta property="og:description" content="‘Nostalgia is the worst and the best feeling at the same time.’" />
<link rel="canonical" href="{{ .Page.Permalink }}" />
<meta property="og:url" content="{{ .Page.Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />